Repository lf-hernandez/junkyard-strength-systems-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format

.lintstagedrc:

{
    "*.js": "npm run lint:fix",
    "*.{json,md}": "npm run format"
}

Extracted db service and config
  config/dbConfig.js
  server.js
  services/dbService.js
Due: npm run lint:fix

santi added some comments
  helpers/responseHelper.js
  routes/userRouter.js
  server.js
Due: npm run lint:fix

Add helmet
  package-lock.json
  package.json
  server.js
Due: npm run lint:fix, npm run format

Add try catch to await call
  controllers/userController.js
Due: npm run lint:fix

Add compression
  package-lock.json
  package.json
  server.js
Due: npm run lint:fix, npm run format

housekeeping
  .gitignore
  package-lock.json
Due: npm run format

Refactor
  README.md
  routes/clientsRouter.js
  routes/index.js
  server.js
  src/config/dbConfig.js
  src/controllers/clientController.js
  src/controllers/userController.js
  src/helpers/authHelper.js
  src/helpers/responseHelper.js
  src/index.js
  src/models/clientModel.js
  src/models/exerciseModel.js
  src/models/userModel.js
  src/routes/authRoutes.js
  src/routes/clientsRoutes.js
  src/routes/exercisesRoutes.js
  src/routes/index.js
  src/routes/usersRoutes.js
  src/services/dbService.js
Due: npm run lint:fix, npm run format

Refactor db service
  package-lock.json
  package.json
  server.js
  src/index.js
  src/services/dbService.js
Due: npm run lint:fix, npm run format

Update lintstaged config
  .lintstagedrc
Due: none

Add procfile
  procfile
Due: none

Add types for dotenv
  package-lock.json
  package.json
Due: npm run format
